@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: 220 33% 97%; /* #f7f8fa */
    --gray-2: 220 21% 96%; /* #f2f3f5 */
    --gray-3: 220 14% 93%; /* #ebedf0 */
    --gray-4: 220 8% 87%; /* #dcdee0 */
    --gray-5: 220 6% 80%; /* #c8c9cc */
    --gray-6: 220 4% 60%; /* #969799 */
    --gray-7: 220 2% 40%; /* #646566 */
    --gray-8: 220 2% 20%; /* #323233 */
    --danger: 355 92% 48%; /* #ee0a24 */
    --primary: 206 92% 48%; /* #1989fa */
    --warn: 24 100% 71%; /* #ff976a */
    --success: 158 94% 41%; /* #07c160 */
  }
}
